
				<div class="col-md-3">
					<div class="card">
						<img alt="..." class="card-img-top" src="profile.jpg">
						<div class="card-body">
							<h5 class="card-title">Personal Bio 1</h5>
							<p class="card-text">This is the personal bio for the first person.</p><a class="btn btn-primary" href="profiletwo.html">View Profile</a>
						</div>
					</div>
				</div>