
<div class="col-md-3">
	<div class="card">
		<img alt="..." class="card-img-top" src="profile.jpg">
		<div class="card-body">
			<h5 class="card-title">{{user.name}}</h5>
			<p class="card-text">{{birth_day}}</p>
            <p class="card-text">{{favorite_quote}}</p>
            <a class="btn btn-primary" href="profiletwo.html">View Profile</a>
		</div>
	</div>
</div>