<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Bootcamp Connect</a> <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" href="profile.html">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="feed.html">Feed</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="logout.html">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container text-center pt-3">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
{{#each peerBios as |bio|}}
{{> feed-details}}
{{/each}}
  </div>
</div>
{{!-- {{#each peerbios as |bio|}}
{{> feed-details}}
{{/each}} --}}
