{{!-- This template uses Handlebars syntax to conditionally display different content depending on whether the user is logged in or not --}}
<div class="about">
	Bootcamp Connect is a virtual site made to help you connect with your bootcamp classmates!
</div>

<main class="mainCenter">
	<div>
		<a href="/api/users/login" class="btn btn-primary">Login</a>
		<a href="/api/users/signup" class="btn btn-primary">Create Account</a>
	</div>
	 
</main>
