{{!-- This template displays a heading and a form with input fields for the user's email and password, along with a submit button. --}}
<main class="mainCenter">
  <form action="/api/users/login" method="POST">
  
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

  <button id='' type="submit" class="btn btn-primary log-in">Log In</button>
</form>
</main>

<script src="/js/login.js"></script>