  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bootcamp Connect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feed">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/users/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <img src="images/profile.jpg" class="img-thumbnail profile" alt="...">
                </div>
              <br>
              <br>
              <br>
                {{!-- <div class="col">
                    <form action="">
                        <fieldset>
                        <textarea name="" class="form-control mb-3" id="" cols="30" rows="10"></textarea>
                    </fieldset>
                     </form>
                </div> --}}

                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Leave A Comment" aria-label="Make A Comment" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
                </div>
					</div>
        </div>
      </div>
{{#each peerBios as |bio|}}
{{> comment-details}}
{{/each}}
  </main>
	<script src="index.js"></script>
  </body>