<nav>
        <a href="profile.html">Profile</a>
        <a href="feed.html">Feed</a>
        <a href="post.html">Make a new Post</a>
    </nav>
    <main>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <img src="images/profile.jpg" class="img-thumbnail profile" alt="...">
                </div>
                <div class="col">
                  
                    <form action="">
                        <fieldset>
                        <textarea name="" class="form-control mb-3" id="" cols="30" rows="10"></textarea>
                    </fieldset>
               
                    </form>
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="edit">
                    <input type="submit" class="btn btn-primary" value="save">
                </div>
            </div>
        </div>