 <main class="mainCenter"> 
    <form id="form">
    <div class="mb-3">
        <label class="form-label">Birth date</label>
        <input type="text" class="form-control" id="birth date" placeholder="Enter in MM-DD-YYYY format">
      </div>
    <div class="mb-3">
      <label class="form-label">Top three Favorite Movies or TV shows</label>
      <input type="text" class="form-control" id="movie-tv"  placeholder="Use comma(,)" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Top 3 Favorite Songs</label>
      <input type="text" class="form-control" placeholder="Use comma(,)" id="songs">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Top 3 Favorite hobbies</label>
        <input type="text" class="form-control" placeholder="Use comma(,)" id="hobbies">
      </div>
      <div class="mb-3">
        <label class="form-label">Favorite qoute</label>
        <input type="text" class="form-control" id="quote" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label class="form-label">Github link</label>
      <input type="text" class="form-control" id="github" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Linkedin link</label>
      <input type="text" class="form-control" id="linkedin">
    </div>
    <button type="submit" class="btn btn-primary" id="submit-bio">Submit bio</button>
  </form>
</main>