 <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Next, what are three of your favorite movies/TV shows?</h1>  
                    <form action="">
                        <fieldset>
                            <input type="text" class="form-control mb-3">
                        </fieldset>
                        <fieldset>
                            <input type="text" class="form-control mb-3">
                        </fieldset>
                        <fieldset>
                            <input type="text" class="form-control mb-3">
                        </fieldset>
                        <input type="submit" class="btn btn-primary" value="next">
                    </form>
                </div>
            </div>
        </div>

    </main>
	<script src="index.js"></script>