<div class="about">
  Bootcamp Connect is a virtual site made to help you connect with your bootcamp classmates!
</div>

    <main class="mainCenter">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="user-name" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password Comfirm</label>
                        <input type="password" class="form-control" id="check-password">
                      </div>
                    <button type="submit" class="btn btn-primary" id="sign-up">Submit</button>
                  </form>
            </div>
  
    </main>

    <script src="/js/signup.js"></script>
