.home main{
   
    border: solid thin rgba(242, 232, 219,);
}

.mainCenter{
    background-image: url("../images/backgrounddots.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header img {
    width: 100%;
    height: 100%;
} */

.mainCenter > div{
    display: flex;
    flex-direction: column;
    gap: 30px
}

/* #welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#getstarted {
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgb(109, 94, 129);
    padding: 20px;
    text-align: center;
}

.about{
    background-color: rgb(46, 181, 78);
    padding: 20px;
    text-align: center;
    font-family: fantasy;
}

footer{
    background-color: rgb(46, 181, 78);
}

nav{
    display: flex;
    justify-content: space-between;;
    padding: 20px;
    background-color: lightgray;
}

nav a{
    text-decoration: none;

}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 181, 78);
    padding: 20px;
  }


  /* // not working due to MIME error in console */
#navbarNav {
    background-color: #2eb54e;
    color: white;
  }



.profile{
    max-width: 100px;
}
.postBox{
    display: flex;
    gap: 20px;
}
.card{
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 535px;
    overflow-y: scroll;
    }
.form-control {
    display: inline-block;
    width: 100%;
  }
  .edit-btn {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
  .scrollable {
    height: 800px;
    overflow-y: scroll;
  }

  #loginbutton {
  background-color: #6d5e81; /* Set background color */
  color: white; /* Set text color */
  padding: 15px 32px; /* Set padding */
  border: none; /* Remove borders */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add cursor on hover */
  box-shadow: 0 0 14px #4CAF50; /* Add glowing effect */
  width: 150%;
  cursor: pointer;
  }

  #createaccountbutton {
    background-color: #6d5e81; /* Set background color */
    color: white; /* Set text color */
    padding: 15px 32px; /* Set padding */
    border: none; /* Remove borders */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add cursor on hover */
    box-shadow: 0 0 14px #4CAF50; /* Add glowing effect */
    width: 150%;
    cursor: pointer;
  }

  #loginbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    font-weight: bold;
  }

  #createaccountbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    font-weight: bold;
  }


  #intro {
    color: white;
    font-size: 20px;  
    font-family: style;
  }

  #logo {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  #bio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
