.home main{
   
    border: solid thin rgba(242, 232, 219,);
}
.home main .row{
    height: 80vh;
}

.mainCenter{
    height: 80vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainCenter > div{
    display: flex;
    flex-direction: column;
    gap: 20px
}

header{
    background-color: rgb(109, 94, 78);
    padding: 20px;
    text-align: center;
}

.about{
    background-color: rgb(46, 181, 78);
    padding: 20px;
    text-align: center;
    font-family: fantasy;
}

footer{
    background-color: rgb(46, 181, 78);
}

nav{
    display: flex;
    justify-content: space-between;;
    padding: 20px;
    background-color: lightgray;
}

nav a{
    text-decoration: none;

}

.profile{
    max-width: 100px;
}
.postBox{
    display: flex;
    gap: 20px;
}
.card{
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 535px;
    overflow-y: scroll;
    }
.form-control {
    display: inline-block;
    width: 100%;
  }
  .edit-btn {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
  .scrollable {
    height: 800px;
    overflow-y: scroll;
  }